.nav-container {
  flex-direction: column;
  gap: 24px;
}

#features {
  margin: 45px auto 65px;
}

.quick-feature {
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-bottom: 24px;
}
.quick-feature-text {
  order: 1;
  width: 100%;
  padding: 0px 32px;
}
.quick-feature-images {
  order: 2;
  padding: 0px 32px;
}
.quick-feature-img {
  width: 100%;
}
.love-feature-container {
  flex-direction: column;
  padding: 0px 24px;
}

.love-feature-text {
  width: 100%;
}
.love-feature-img {
  width: 100%;
}
.experience-badge {
  bottom: 201px;
  left: 270px;
}
.facts-container {
  padding: 0px 24px;
}
.fact-container {
  grid-template-columns: repeat(2, 1fr);
}
.sponsor-image-container {
  grid-template-columns: repeat(2, auto);
  gap: 100px;
}
